

<ul><li> Id: {{author.id}}  </li>
<li> Username: {{author.username}}  </li>
<li> Picture:  </li><img src="{{ asset(author.picture) }}" alt = "Author Picture">
<li> Gmail: {{author.emailaddress}}  </li>
<li> Number of books: {{author.email}}  </li>
<li> For more information: {{author.nb_book}}  </li>
